@import "tailwindcss";

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #030712;
  color: #f8fafc;
  user-select: none;
  -webkit-user-select: none;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
